.app {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;

  .ant-layout {
    flex: auto;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    .ant-row {
      &.report {
        padding: 20px 40px 0px 40px;
      }
    }
  }

  .ant-empty-description {
    color: #707070;
  }

  &.light {
    background-color: #ffffff;
    color: #000000;
  }

  &.dark {
    background-color: #1d1d1d;
    color: #ffffff;

    .openMenu {
      color: #fff;
    }
  }

  .ant-btn-primary {
    width: 100%;
    margin-bottom: -3px;
  }

  .openMenu {
    position: absolute;
    left: 30px;
    top: 35px;
    z-index: 999;
    display: none;
    color: #000;
  }

  @media (max-width: 960px) {
    .openMenu {
      display: block;

      &.none {
        display: none;
      }
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px #fff inset !important; /* Cor de fundo igual ao normal */
    -webkit-text-fill-color: #000 !important; /* Cor do texto */
    transition: background-color 5000s ease-in-out 0s;
  }
}
